table tr td {
    padding: 5px;
}

table ul li {
    margin-left: 22px;
}

xmp {
    width: 600px;
    margin-left: 20vw;
}

button {
    background-color: #e44d26;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    color: white;
}

#total {
    max-width: 1280px;
    width: 1280px;
    background-color: blue;
    height: 10 00px;
}

#lista li {
    width: 97%;
    margin-left: 3%;
    font-size: 30px;
    font-family: corbel;
}

h3 {
    font-size: 30px;
    font-family: corbel;
}